@import "layout";

/*
.-. .-')     ('-.      .-')      ('-.          .-')      ('-.   .-') _    .-') _               .-') _              .-')    
\  ( OO )   ( OO ).-. ( OO ).  _(  OO)        ( OO ).  _(  OO) (  OO) )  (  OO) )             ( OO ) )            ( OO ).  
 ;-----.\   / . --. /(_)---\_)(,------.      (_)---\_)(,------./     '._ /     '._ ,-.-') ,--./ ,--,'  ,----.    (_)---\_) 
 | .-.  |   | \-.  \ /    _ |  |  .---'      /    _ |  |  .---'|'--...__)|'--...__)|  |OO)|   \ |  |\ '  .-./-') /    _ |  
 | '-' /_).-'-'  |  |\  :` `.  |  |          \  :` `.  |  |    '--.  .--''--.  .--'|  |  \|    \|  | )|  |_( O- )\  :` `.  
 | .-. `.  \| |_.'  | '..`''.)(|  '--.        '..`''.)(|  '--.    |  |      |  |   |  |(_/|  .     |/ |  | .--, \ '..`''.) 
 | |  \  |  |  .-.  |.-._)   \ |  .--'       .-._)   \ |  .--'    |  |      |  |  ,|  |_.'|  |\    | (|  | '. (_/.-._)   \ 
 | '--'  /  |  | |  |\       / |  `---.      \       / |  `---.   |  |      |  | (_|  |   |  | \   |  |  '--'  | \       / 
 `------'   `--' `--' `-----'  `------'       `-----'  `------'   `--'      `--'   `--'   `--'  `--'   `------'   `-----'  
*/
$base-font-size:  112.5%; /*18px*/

/*base of rems is 18px*/
html {
  font-size: $base-font-size;
}


/*
                             .-') _  .-') _     .-')    
                            ( OO ) )(  OO) )   ( OO ).  
   ,------. .-'),-----. ,--./ ,--,' /     '._ (_)---\_) 
('-| _.---'( OO'  .-.  '|   \ |  |\ |'--...__)/    _ |  
(OO|(_\    /   |  | |  ||    \|  | )'--.  .--'\  :` `.  
/  |  '--. \_) |  |\|  ||  .     |/    |  |    '..`''.) 
\_)|  .--'   \ |  | |  ||  |\    |     |  |   .-._)   \ 
  \|  |_)     `'  '-'  '|  | \   |     |  |   \       / 
   `--'         `-----' `--'  `--'     `--'    `-----'  
*/


/*Amatic Sans*/
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swap');
$Amatic: 'Amatic SC', cursive;

/*BenchNine*/
@import url('https://fonts.googleapis.com/css?family=BenchNine&display=swap');
$BenchNine: 'BenchNine', sans-serif;

/*Calistoga*/
@import url('https://fonts.googleapis.com/css?family=Calistoga&display=swap');
$Calistoga: 'Calistoga', cursive;

/*Josefin Sans*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
$JosefinSans: 'Josefin Sans', sans-serif;

/*Josefin Slab*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
$JosefinSlab: 'Josefin Slab', serif;

/*Poppins*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
$Poppins: 'Poppins', sans-serif;



/*
            _  .-')          _ .-') _             ('-.                                       .-') _  _   .-')       ('-.       .-') _  .-') _    
           ( \( -O )        ( (  OO) )           ( OO ).-.                                  ( OO ) )( '.( OO )_   _(  OO)     ( OO ) )(  OO) )   
  ,----.    ,------.  ,-.-') \     .'_           / . --. / ,--.      ,-.-')   ,----.    ,--./ ,--,'  ,--.   ,--.)(,------.,--./ ,--,' /     '._  
 '  .-./-') |   /`. ' |  |OO),`'--..._)   .-')   | \-.  \  |  |.-')  |  |OO) '  .-./-') |   \ |  |\  |   `.'   |  |  .---'|   \ |  |\ |'--...__) 
 |  |_( O- )|  /  | | |  |  \|  |  \  ' _(  OO).-'-'  |  | |  | OO ) |  |  \ |  |_( O- )|    \|  | ) |         |  |  |    |    \|  | )'--.  .--' 
 |  | .--, \|  |_.' | |  |(_/|  |   ' |(,------.\| |_.'  | |  |`-' | |  |(_/ |  | .--, \|  .     |/  |  |'.'|  | (|  '--. |  .     |/    |  |    
(|  | '. (_/|  .  '.',|  |_.'|  |   / : '------' |  .-.  |(|  '---.',|  |_.'(|  | '. (_/|  |\    |   |  |   |  |  |  .--' |  |\    |     |  |    
 |  '--'  | |  |\  \(_|  |   |  '--'  /          |  | |  | |      |(_|  |    |  '--'  | |  | \   |   |  |   |  |  |  `---.|  | \   |     |  |    
  `------'  `--' '--' `--'   `-------'           `--' `--' `------'  `--'     `------'  `--'  `--'   `--'   `--'  `------'`--'  `--'     `--'    
*/



/*basic text setup with 18-base*/

/*16px*/
@mixin x-small-font{
  font-size: 0.888rem; /*16/18*/
  line-height: 1.6875; /* 1.5*base font / current font */
  margin-bottom: 1.6875rem; /* 1.5*base font / current font */

}

/*18px*/
@mixin small-font{  
   font-size: 1rem; /*18/18*/
   line-height: 1.5; /* 1.5*base font / current font */
   margin-bottom: 1.5rem; /* 1.5*base font / current font */
}

/*21px*/
@mixin med-font{ 
  font-size: 1.166rem; /*21/18*/
  line-height: 1.28571428; /* 1.5*base font / current font */
  margin-bottom: 1.28571428rem; /* 1.5*base font / current font */
}

/*24px*/
@mixin lg-font{
  font-size: 1.333rem; /*24/18*/
  line-height: 1.125; /* 1.5*base font / current font */
  margin-bottom: 1.125rem; /* 1.5*base font / current font */
}

/*36px*/
@mixin xlg-font{
  font-size: 2rem; /*36/18*/
  line-height: 0.75; /* 1.5*base font / current font */
  margin-bottom: 0.75rem; /* 1.5*base font / current font */
}

/*48px*/
@mixin xxlg-font{
  font-size: 2.666rem; /*48/18*/
  line-height: 0.5625; /* 1.5*base font / current font */
  margin-bottom: 0.5625rem; /* 1.5*base font / current font */
}

/*72px*/
@mixin xxxlg-font{
  font-size: 4rem; /*72/18*/
  line-height: 0.375; /* 1.5*base font / current font */
  margin-bottom: 0.375; /* 1.5*base font / current font */
}

/*96px*/
@mixin xxxxlg-font{
  font-size: 5.333rem; /*96/18*/
  line-height: 0.28125; /* 1.5*base font / current font */
  margin-bottom: 0.28125rem; /* 1.5*base font / current font */
}


h1,h2,h3,h4,h5,h6{
  @include lg-font;
}

p{
  @include small-font;
}



/*
   _ (`-.    ('-.  _  .-')          .-')      ('-.             .-') _                            .-') _  
  ( (OO  ) _(  OO)( \( -O )        ( OO ).  _(  OO)           (  OO) )                          ( OO ) ) 
 _.`     \(,------.,------.       (_)---\_)(,------.   .-----./     '._ ,-.-')  .-'),-----. ,--./ ,--,'  
(__...--'' |  .---'|   /`. '      /    _ |  |  .---'  '  .--./|'--...__)|  |OO)( OO'  .-.  '|   \ |  |\  
 |  /  | | |  |    |  /  | |      \  :` `.  |  |      |  |('-.'--.  .--'|  |  \/   |  | |  ||    \|  | ) 
 |  |_.' |(|  '--. |  |_.' |       '..`''.)(|  '--.  /_) |OO  )  |  |   |  |(_/\_) |  |\|  ||  .     |/  
 |  .___.' |  .--' |  .  '.'      .-._)   \ |  .--'  ||  |`-'|   |  |  ,|  |_.'  \ |  | |  ||  |\    |   
 |  |      |  `---.|  |\  \       \       / |  `---.(_'  '--'\   |  | (_|  |      `'  '-'  '|  | \   |   
 `--'      `------'`--' '--'       `-----'  `------'   `-----'   `--'   `--'        `-----' `--'  `--'   
*/


/*----------THE CAT AND THE BIRDS----------*/

h1{
  font-family: $Calistoga;
  @include xxlg-font;
  margin: 6rem auto;
}

/*  fonts: 'Amatic SC', cursive; 'Josefin Slab', serif; */
.fable-one{
  h2{
    font-family: $Amatic;
    @include xlg-font;
  }
  p{
    font-family: $JosefinSans;
    @include small-font;
  }

}

/**/
.fable-two{
  h2{
    font-family: $BenchNine;
    @include xlg-font;
  }
  p{
    font-family: $Poppins;
    @include small-font;
  }

}